In [6]:
import pandas as pd
from matplotlib import pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [7]:
!ls ../data

Country_export_2022-04-14_145153.csv
League_export_2022-04-14_145204.csv
Match_export_2022-04-14_145208.csv
Player_Attributes_export_2022-04-14_145751.csv
Player_export_2022-04-14_145740.csv
soccer-csv.zip
Team_Attributes_export_2022-04-14_145804.csv
Team_export_2022-04-14_145800.csv

In [9]:
country = pd.read_csv('../data/Country_export_2022-04-14_145153.csv')

In [10]:
country.head()

      id     name
0      1  Belgium
1   1729  England
2   4769   France
3   7809  Germany
4  10257    Italy